# This notebook is for kaggle competition so if you want to check it out You are free.

In [8]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('./train.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [3]:
print(df.shape)
print(df.dtypes)
print(df.columns)

(8693, 14)
PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [4]:
enc_columns = ['HomePlanet', 'Destination', 'CryoSleep', 'VIP']
new_df = df.drop(df[enc_columns], axis=1)
enc_df = pd.get_dummies(df[enc_columns])
new_df = new_df.join(enc_df)
features = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(new_df[features]),columns = features)
new_df = new_df.drop(df[features], axis=1)
new_df = new_df.join(df_scaled)
new_df.head()

,PassengerId,Cabin,Name,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0001_01,B/0/P,Maham Ofracculy,False,0,1,0,0,0,1,1,0,1,0,0.702095,-0.337025,-0.284274,-0.287317,-0.273736,-0.266098
1,0002_01,F/0/S,Juanna Vines,True,1,0,0,0,0,1,1,0,1,0,-0.333233,-0.173528,-0.278689,-0.245971,0.209267,-0.227692
2,0003_01,A/0/S,Altark Susent,False,0,1,0,0,0,1,1,0,0,1,2.013510,-0.272527,1.934922,-0.287317,5.634034,-0.223327
3,0003_02,A/0/S,Solam Susent,False,0,1,0,0,0,1,1,0,1,0,0.287964,-0.337025,0.511931,0.326250,2.655075,-0.097634
4,0004_01,F/1/S,Willy Santantines,True,1,0,0,0,0,1,1,0,1,0,-0.885407,0.117466,-0.240833,-0.037590,0.223344,-0.264352

In [5]:
drop_df = new_df.dropna()
X = drop_df[new_df.columns[4:]]
y = drop_df['Transported']

In [6]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X, y)

In [7]:
df = pd.read_csv('./train.csv')
enc_columns = ['HomePlanet', 'Destination', 'CryoSleep', 'VIP']
new_df = df.drop(df[enc_columns], axis=1)
enc_df = pd.get_dummies(df[enc_columns])
new_df = new_df.join(enc_df)
features = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(new_df[features]),columns = features)
new_df = new_df.drop(df[features], axis=1)
new_df = new_df.join(df_scaled)
new_df.head()

,PassengerId,Cabin,Name,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0001_01,B/0/P,Maham Ofracculy,False,0,1,0,0,0,1,1,0,1,0,0.702095,-0.337025,-0.284274,-0.287317,-0.273736,-0.266098
1,0002_01,F/0/S,Juanna Vines,True,1,0,0,0,0,1,1,0,1,0,-0.333233,-0.173528,-0.278689,-0.245971,0.209267,-0.227692
2,0003_01,A/0/S,Altark Susent,False,0,1,0,0,0,1,1,0,0,1,2.013510,-0.272527,1.934922,-0.287317,5.634034,-0.223327
3,0003_02,A/0/S,Solam Susent,False,0,1,0,0,0,1,1,0,1,0,0.287964,-0.337025,0.511931,0.326250,2.655075,-0.097634
4,0004_01,F/1/S,Willy Santantines,True,1,0,0,0,0,1,1,0,1,0,-0.885407,0.117466,-0.240833,-0.037590,0.223344,-0.264352

In [10]:
drop_df = new_df.dropna()
X = drop_df[new_df.columns[4:]]
y = drop_df['Transported']
y_pred = clf.predict(X)
accuracy_score(y_true=y, y_pred=y_pred)

0.938609772883689

In [11]:
X.shape

(7265, 16)

In [12]:
new_df.shape

(8693, 20)