# This notebook is for kaggle competition so if you want to check it out You are free.

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.metrics import accuracy_score
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [90]:
df = pd.read_csv('./train.csv')
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [91]:
print(df.shape)
print(df.dtypes)
print(df.columns)

(8693, 14)
PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object
Index(['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age',
       'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck',
       'Name', 'Transported'],
      dtype='object')

In [92]:
enc_columns = ['HomePlanet', 'Destination', 'CryoSleep', 'VIP']
new_df = df.drop(df[enc_columns], axis=1)
enc_df = pd.get_dummies(df[enc_columns])
new_df = new_df.join(enc_df)
features = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(new_df[features]),columns = features)
new_df = new_df.drop(df[features], axis=1)
new_df = new_df.join(df_scaled)
new_df.head()

,PassengerId,Cabin,Name,Transported,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0001_01,B/0/P,Maham Ofracculy,False,0,1,0,0,0,1,1,0,1,0,0.702095,-0.337025,-0.284274,-0.287317,-0.273736,-0.266098
1,0002_01,F/0/S,Juanna Vines,True,1,0,0,0,0,1,1,0,1,0,-0.333233,-0.173528,-0.278689,-0.245971,0.209267,-0.227692
2,0003_01,A/0/S,Altark Susent,False,0,1,0,0,0,1,1,0,0,1,2.013510,-0.272527,1.934922,-0.287317,5.634034,-0.223327
3,0003_02,A/0/S,Solam Susent,False,0,1,0,0,0,1,1,0,1,0,0.287964,-0.337025,0.511931,0.326250,2.655075,-0.097634
4,0004_01,F/1/S,Willy Santantines,True,1,0,0,0,0,1,1,0,1,0,-0.885407,0.117466,-0.240833,-0.037590,0.223344,-0.264352

In [93]:
drop_df = new_df.fillna(-1)
X = drop_df[new_df.columns[4:]]
y = drop_df['Transported']

In [94]:
clf = tree.DecisionTreeClassifier()
#clf = linear_model.LogisticRegression()
#clf = svm.SVC()
clf = clf.fit(X, y)

In [95]:
df = pd.read_csv('./test.csv')
enc_columns = ['HomePlanet', 'Destination', 'CryoSleep', 'VIP']
new_df = df.drop(df[enc_columns], axis=1)
enc_df = pd.get_dummies(df[enc_columns])
new_df = new_df.join(enc_df)
features = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
scaler = StandardScaler()
df_scaled = pd.DataFrame(scaler.fit_transform(new_df[features]),columns = features)
new_df = new_df.drop(df[features], axis=1)
new_df = new_df.join(df_scaled)
new_df.head()

,PassengerId,Cabin,Name,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,CryoSleep_False,CryoSleep_True,VIP_False,VIP_True,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,0013_01,G/3/S,Nelly Carsoning,1,0,0,0,0,1,0,1,1,0,-0.116957,-0.361266,-0.287719,-0.316173,-0.271297,-0.249197
1,0018_01,F/4/S,Lerome Peckers,1,0,0,0,0,1,1,0,1,0,-0.681236,-0.361266,-0.281826,-0.316173,2.255891,-0.249197
2,0019_01,C/0/S,Sabih Unhearfus,0,1,0,1,0,0,0,1,1,0,0.165182,-0.361266,-0.287719,-0.316173,-0.271297,-0.249197
3,0021_01,C/1/S,Meratz Caltilter,0,1,0,0,0,1,1,0,1,0,0.658927,-0.361266,4.067167,-0.316173,-0.109263,0.219987
4,0023_01,F/5/S,Brence Harperez,1,0,0,0,0,1,1,0,1,0,-0.610702,-0.344790,-0.287719,0.816230,-0.271297,-0.249197

In [96]:
drop_df = new_df.fillna(-1)
X = drop_df[new_df.columns[3:]]
#y = drop_df['Transported']
y_pred = clf.predict(X)
#accuracy_score(y_true=y, y_pred=y_pred)

In [97]:
submision_df = pd.DataFrame(new_df['PassengerId'])
submision_df["an"] = y_pred 
submision_df.columns = ['Passenger', 'Transported']
submision_df

     Passenger  Transported
0      0013_01          1.0
1      0018_01          0.0
2      0019_01          1.0
3      0021_01          1.0
4      0023_01          0.0
...        ...          ...
4272   9266_02          1.0
4273   9269_01          0.0
4274   9271_01          1.0
4275   9273_01          0.0
4276   9277_01          0.0

[4277 rows x 2 columns]

In [98]:
submision_df['Transported'] = submision_df['Transported'].apply(lambda x:True if x == 1 else False)
submision_df.to_csv('submisson.csv', index=False)